.container {
    width: 350px;
    margin: 10% auto;
}

.interior {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 5px white solid;
    /* border: 5px rgb(249, 245, 245) solid; */
}
.div1 {
    background: #ff0000;
}
.div2 {
    background: #ffa601;
}
.div3 {
    background: #ffff02;
}

/* Need to make divs overlap */
.div4 {
    background: #0000ff;
    margin-left: 15%;
}

.div5 {
    background: #f07ef0;
}