/* Shared CSS across all HTML pages */
/* CSS reset */
* {
    margin: 0;
    padding: 0;
}
/* Navigation Bar */
.navBar {
    overflow: hidden;
  }
  
/* Navigation Links */
.navBar a {
  font-family: 'Oswald', sans-serif;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}
  
.navBar a:hover {
  border-bottom: 3px solid goldenrod;
}

.navBar a.active {
  border-bottom: 3px solid goldenrod;
}

.navBar #navLogo {
    float: right;
    font-weight: bold;
    border-bottom: 3px solid black;
}

#pageLogo {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border-top: 1px lightgrey solid;
}

.logo { 
    display: block;
    margin: 2% auto; 
} 

.clearfix {
    clear: both;
}


/* Footer */
#footer{
    border-top: lightgrey 1px solid;
    text-align: center;
    font-family: 'Trispace';
    color: black;
    height: 50px;
}

p {
    display: block;
    margin: 1em 0;  
}