.container {
    width: 550px;
    margin: 10% auto;
}

.interior {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 5px rgb(249, 245, 245) solid;
}

/* Need to continue to move the red and orange divs */
.div1 {
    background: #ff0000;
    margin-left: 30%;
    z-index: 1;
}
.div2 {
    background: #ffa601;
    transform: rotate(60deg);
    position: absolute;
    margin-left: 50px;
    z-index: -1;
}
.div3 {
    background: #ffff02;
    transform: rotate(60deg);
    position: absolute;
    margin-top: 100px;
    /* margin-left: 60px;  */
    z-index: 3;
}

.div4 {
    background: #0000ff;
    transform: rotate(25deg);
    position: absolute;
    margin-top: 50px;
    margin-left: -80px;
    z-index: 4;
}

.div5 {
    background: #f07ef0;
    transform: rotate(15deg);
    position: absolute;
    margin-top: 50px;
    margin-left: -170px;
    z-index: 5;
}